<div class="container" free-topstrip>
	<div class="row-fluid">
	<div class="span8" style="white-space: pre;white-space: -o-pre-wrap;word-wrap: break-word;">
		Sakshi Chowdhry (September 1989) grew up in a small 
		town ,
		Rohtak , learning that the stillness of a small town may 
		not pay 
		you worth your living in young days but as you become a 
		brain in your body, you realize that it was the stillness 
		that arose 
		something in you, something that is leading you to find 
		what 
		you're looking for. Although she studied to be a writer, 
		completing 
		her education in Literature from yet another small town, 
		Simla. 
		Started her career as a copywriter, turned to pick up a 
		camera 
		and found that it was a more silent way of communicating 
		with 
		people around her, silent than her own words. 
		Photography can not 
		be learnt by any medium or person, she believes ; it is like your breath, 
		you can't count on someone else to do it for you. The only 
		thing she knows 
		about photographs is that if you truly 'feel’ what you see 
		in front of you, 
		there 's no way your camera is going to ditch you. 
		Sakshi pursued a variety of photographic projects , from 
		towns to villages 
		and mostly ending up at her own family. She is not a daily 
		photographer, 
		but once the camera is in hands , its a different world. Her 
		most priced 
		project is "Temptaions as it runs" , a hail to her own 
		Father , battling from 
		Cancer.
	</div>
	<div class="span4">
		<img width="300px" height="400px" src="/static/photographs/me.jpg">
	</div>
</div>
</div>